/*--------FONT FACE---------*/
@font-face {
  font-family: 'Centaur';
  src: url('assets/fonts/Centaur.woff2') format('woff2'),
    url('assets/fonts/Centaur.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('assets/fonts/Graphik-Medium.woff2') format('woff2'),
    url('assets/fonts/Graphik-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Canela';
  src: url('assets/fonts/Canela-Regular.woff2') format('woff2'),
    url('assets/fonts/Canela-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  color: #1c1d1d;
  font-family: 'Centaur';
  font-size: 16px;
  margin: 0.5em 0 0 0;
  /* background-color: #d4cdce; */
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
}
label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

/*--------TYPOGRAPHY---------*/
h1,
h2,
h3 {
  color: #1c1d1d;
  font-family: 'Canela';
  letter-spacing: 0.02em;
}

h3 {
  color: #1c1d1d;
  font-family: 'Graphik';
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1 .collection-title {
  color: #1c1d1d;
  font-family: 'Canela';
  font-size: 30px;
  letter-spacing: 0.02em;
  text-align: center;
}

body .about {
  color: #1c1d1d;
  font-family: 'Centaur';
  font-size: 20px;
  margin: 0.5em 0 0 0;
}

/*-------NAV BAR--------*/
nav a {
  display: inline-block;
  margin: 1em;
}

.navbar-brand {
  color: #1c1d1d;
  font-family: 'Canela';
  font-size: 52px;
  letter-spacing: 0.02em;
}

.navbar-nav {
  color: #1c1d1d;
  font-family: 'Graphik';
  font-size: 10.5px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

nav a {
  color: #1c1d1d;
}

/* .navbar .brand, .navbar .nav > li > a:hover {
  color: #F56E6E;
} */

/*--------HOME PAGE CAROUSEL--------*/

.carousel-inner img {
  width: 100%;
  height: 100%;
}

/*--------CARDS---------*/

.card {
  border: none !important;
  background-color: transparent !important;
}

.card .product-title {
  color: #1c1d1d;
  font-family: 'Graphik';
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.card .product-price {
  color: #595959;
  font-family: 'Centaur';
  font-size: 15px;
  margin: 0.5em 0 0 0;
}

.card-body {
  text-align: center;
}

/*--------SINGLE PRODUCT PAGE--------*/
h2.product-title {
  color: #1c1d1d;
  font-family: 'Canela';
  font-size: 34px;
  margin-top: 40px;
  margin-bottom: 25px;
  letter-spacing: 0.02em;
}

p.product-price {
  font-size: 1.2rem;
  margin-bottom: 25px;
}

.product-divider {
  width: 20px;
  border-top: 1px solid #222;
  margin: 25px 0;
}

p.description {
  line-height: 1.75rem;
}

/*--------CART------------*/
h2.shopping-cart-header {
  color: #1c1d1d;
  font-family: 'Canela';
  font-size: 34px;
  margin-top: 40px;
  margin-bottom: 25px;
  letter-spacing: 0.02em;
}

img.product-image {
  width: 200px;
  height: 200px;
}

/*--------BUTTONS---------*/
button {
  color: #1c1d1d;
  font-family: 'Graphik';
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  background-color: transparent;
  border: 2px solid #000;
  width: 140px;
  height: 50px;
  cursor: pointer;
}

button.add-to-cart {
  color: #1c1d1d;
  font-family: 'Graphik';
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  background-color: transparent;
  border: 2px solid #000;
  width: 140px;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

/*---------ABOUT----------*/

.row-centered {
  text-align: center;
}
